html {
    background-color: black;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ui {
    position:fixed;
    z-index: 999;
}
.ui.hidden {
    display:none !important;
}

#main_menu {
    top:0; left:0;
}

/* #debug {
    top:0; right:0;
} */

#particle_menu {
    right:0; bottom:0;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

#particle_info {
    background-color:rgba(128,128,128,0.3);
    border-radius: 1em;
    padding:0 0.5em;
}

#particle_info .color-circle {
    display: inline-block;
    width:1em; height:1em;
    border-radius: 0.5em;
}

#particle_info .p_info {
    padding:0.5em 0;
    border-top: 1px solid #ddd;
}

#particle_info .p_info:first-of-type {
    border-top: none;
}

#particle_info .p_info p {
    display: flex;
    align-items: center;
    margin:0.5em 0;
}
.particle_title {
    font-size: 1.2em;
}
#particle_info .p_info .particle_titlebar {
    margin:0;
    justify-content: space-between;
}

#particle_info .p_info p label, #particle_info .p_info p input, #particle_info .p_info p span {
    margin:0 4px;
}

#particle_info input[type="number"], #particle_info input[type="text"] {
    font-size: 1em;
    width:4em;
    background-color:#000000;
    color:#ffffff;
    padding:4px;
    border:none;
    border-radius: 0.5em;
}

#ctrls {
    bottom:0;
    left:0;
    display: flex;
    flex-direction: column-reverse;
}

.btn {
    padding:1em;
    cursor:pointer;
    opacity:0.6;
    text-indent: -9999em;
    width:2em; height:2em;
    background-size: 2em 2em;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1em;
}

.btn:hover {
    background-color:rgba(255,255,255,0.2);
    opacity: 1;
}

.btn:active {
    transform: scale(0.9);
}

.p_info .btn {
    width:2em; height:2em;
    background-size: 1em 1em;
    border-radius: 0.5em;
    padding:0;
}

#play_pause[data-status="Play"]     {background-image: url("../media/play.svg");}
#play_pause[data-status="Pause"]    {background-image: url("../media/pause.svg");}
#step                               {background-image: url("../media/step-forward.svg");}
#reset                              {background-image: url("../media/redo-alt.svg");}
#add_particle                       {background-image: url("../media/plus.svg");}
.delete_particle                    {
    background-image: url("../media/trash-alt.svg");
}
.delete_particle:hover {
    background-color: rgba(255,0,0,0.5);
}