html {
    font-family: oscine,Helvetica, Arial, sans-serif;
    background-color: #393e46; color:#eeeeee;
}

body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    margin:0;
    padding:1em;
    text-align: center;
    border-top: 0.5em solid #00adb5;
    height:100vh;
    min-height:540px;
}

.hero {
    font-size: 1.5em;
    padding-bottom:2em;
}

h1,h2,p {
    margin:8px 0;
}

h1 {
    font-size: 3em;
    font-weight: lighter;
}

section.items {
    padding: 1em 0;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:1em;
}

a {
    text-decoration: none;
    color:inherit;
}

a:hover {
    text-decoration: underline;
}

a.card {
    flex:1;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #222831;
    text-decoration: none;
    color:white;
    padding:1em;
    border-radius: 1em;
    transition:.2s;
    max-width: 192px;
}

a.card:hover {
    background-color: #000000;
    transform: translateY(-4px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

footer {
    padding:1em;
}

@media only screen and (max-height: 741px) {
    body {
        height:auto;
    }
  }