html {
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif; 
}
body {
    margin:0;
    color:white;
}
.ui {
    position: fixed;
    z-index: 99;
}

input, select {
    font-size: 1em;
    background-color: black;
    color:white;
    padding:4px 8px;
    border:2px solid white;
    border-radius: 8px;
    box-sizing: border-box;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;   
    background: white;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: red;
    cursor: pointer;
  }

#info-panel {
    bottom:0; right:0;
    font-size: 1.25em;
    text-align: right;
}

#info-panel p {
    margin:1em;
}

#info-panel input[type=range]  {
    width: 10em;
}

#info-panel label {
    padding:0.5em;
}

#info-panel input[type=number]{
    width: 2.5em;
}