html {
    background-color: black;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    overflow: hidden;
}

canvas {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

header {
    position: fixed;
    width:80%;
    max-width: 480px;
    top:50%; left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    border-radius: 1em;
    padding: 1em 2em;
    box-shadow: 0 2px 2px rgba(0,0,0,0.5);

    background-color: rgba(0, 49, 92, 0.9);
    transition: 0.5s transform;
}

header.closed {
    /* display:none; */
    transform:translate(-50%,100vh);
}

header a {
    color:inherit;
    text-decoration: none;
}

header .btn {
    display:inline-block;
    background-color:rgb(0, 22, 41);
    font-size: 1.2em;
    padding:0.5em 1em;
    border-radius: 1em;
}
header .btn:hover {
    background-color:#fff;
    color:rgb(0, 22, 41);
}
header .btn:active {
    transform: scale(0.9);
}

.ui {
    position:fixed;
    z-index: 999;
}
.ui.hidden {
    display:none !important;
}

#main_menu {
    top:0; left:0;
    display: flex;
    flex-direction: column;
}

#main_menu ul {
    list-style: none;
    margin:0; padding:0;
    background-color: rgba(255,255,255,0.2);
    border-radius: 0.5em;
}
#main_menu.closed ul {
    display:none;
}
#main_menu ul li a {
    display: block;
    padding:0.5em 1em;
    cursor: pointer;
}
#main_menu ul li a:hover {
    background-color: rgba(255,255,255,0.1);
}

#debug {
    top:0; right:0;
    width:240px;
}

#particle_menu {
    right:0; bottom:0;
    max-height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

#particle_info {
    background-color:rgba(128,128,128,0.3);
    border-radius: 1em;
    padding:0 0.5em;
    overflow-y: scroll;
}

#particle_info .color-circle {
    display: inline-block;
    width:1em; height:1em;
    font-size: 1em;
    border:none;
    border-radius: 0.5em;
    margin:0; padding:0;
}
#particle_info .color-circle::-webkit-color-swatch-wrapper {
    padding: 0; 
}
#particle_info .color-circle::-webkit-color-swatch {
    border: none;
    border-radius: 100%;
}

#particle_info .p_info {
    padding:0.5em 0;
    border-top: 1px solid #ddd;
}

#particle_info .p_info:first-of-type {
    border-top: none;
}

#particle_info .p_info p {
    display: flex;
    align-items: center;
    margin:0.5em 0;
}
.particle_title {
    font-size: 1.2em;
}
#particle_info .p_info .particle_titlebar {
    margin:0;
    justify-content: space-between;
    height:32px;
}

#particle_info .p_info p label, #particle_info .p_info p input, #particle_info .p_info p span {
    margin:0 4px;
}

#particle_info input[type="number"], #particle_info input[type="text"], #particle_info select {
    font-size: 1em;
    width:4em;
    background-color:#000000;
    color:#ffffff;
    padding:4px;
    border:none;
    border-radius: 0.5em;
}

#particle_info select {
    width: 6em;
}

#particle_info .pLinkList {
    gap: 0.5em;
    overflow-x: scroll;
}

#particle_info .pLinkList .pLink {
    display: flex;
    justify-content: center;
    padding:0.25em 0.5em;
    background-color:#000000;
    border-radius: 0.5em;
    cursor: pointer;
    gap:0.5em;
    border:2px solid #000;
}

#particle_info .pLinkList .pLink:hover {
    border-color: #fff;
}

#ctrls {
    bottom:0;
    left:0;
    display: flex;
    flex-direction: column-reverse;
}

.btn {
    cursor:pointer;
}

.ui .btn {
    padding:1em;
    opacity:0.6;
    text-indent: -9999em;
    width:2em; height:2em;
    background-size: 2em 2em;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1em;
}
.ui .btn.disabled {
    display: none;
}

.ui .btn:hover {
    background-color:rgba(255,255,255,0.2);
    opacity: 1;
}

.ui .btn:active {
    transform: scale(0.9);
}

.p_info .btn {
    width:2em; height:2em;
    background-size: 1em 1em;
    border-radius: 0.5em;
    padding:0;
}

#play_pause[data-status="Play"]     {background-image: url("../media/play.svg");}
#play_pause[data-status="Pause"]    {background-image: url("../media/pause.svg");}
#step                               {background-image: url("../media/step-forward.svg");}
#reset                              {background-image: url("../media/redo-alt.svg");}
#add_particle                       {background-image: url("../media/plus.svg");}
#mmenu_icon                         {background-image: url("../media/bars.svg");}
.delete_particle                    {
    background-image: url("../media/trash-alt.svg");
}
.delete_particle:hover {
    background-color: rgba(255,0,0,0.5);
}